.detail {
    display: flex;
    justify-content: space-around;
    margin: 0 60px;
    font-family: 'nissan-light';
    flex-wrap: wrap;
    padding-bottom: 35px;
    border-bottom: solid lightgray;
}
.left-section {
    flex: 1 1 250px;
    max-width: 500px;
    
}
.left-section img {
    width: 100%;
    border-radius: 8px;
}
.left-section p {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.right-section {
    flex: 1 1 300px;
    max-width: 600px;
    padding: 0 40px;
}
.top {
    margin: 0;
}
.mid {
    margin: 0;
    padding-bottom: 30px;
    padding-top: 15px;
    font-size: 40px;
}
.heading {
   text-align: center;
   padding-bottom: 20px;
}
.specs-details {
    font-family: 'nissan-light';
    padding-top: 30px;
        
}
.span1 {
    font-size: 70px;
}
p {
    margin: 0;
}
.specs-details1 {
    display: flex;
    justify-content: center;
}

.start,
.mid-border,
.end-torque {
    padding: 0 30px;
    text-align: center;
}
.power {
    text-align: center;
}
.mid-gear-content {
    text-align: center;
}
.mid-border {
    
    border: solid lightgray;
    border-bottom: 0;
    border-top: 0;
}
.end-btn {
    padding-top: 28px;
    height: 72px;
}
.btn-layout {
    padding-top: 21px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn {
    display: flex;
    justify-content: center;
    position: relative;
    height: 42px;
    padding: 0 25px;
    border: solid lightgray 1.8px;
    border-radius: 100px;
    transition: background-color .15s,
    border .15s;
    
}
.btn .tooltip {
    position: absolute;
    background-color: rgb(226, 225, 225);
    color: black;
    white-space: nowrap;
    padding: 4px;
    bottom: -40px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    border-radius: 4px;
    transition: opacity 0.45s;

}
.btn:hover .tooltip{
    opacity: 1;
}
.button {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.btn:hover {
    border: solid #c3002f 1.4px;
    border-radius: 100px;
    background-color: #c3002f;
}

@media (max-width: 520px) {
    .mid-border {
            border: solid lightgray;
            border-left: 0;
            border-right: 0;
    }
    .specs-details1 {
        flex-wrap: wrap;
        transition: all .02 linear;
    }
}