.main-item-container {
    gap: 15px;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    flex-wrap: wrap;
    padding-bottom: 35px;
    border-bottom: solid lightgray;
    margin-bottom: 30px;
}

.left-section-cart{
    align-items: center;
    gap: 15px;
    display: flex;
    flex: 1 1 0;
    justify-content: space-evenly;
    flex-direction: row;
    
    
}
.left-section-cart img {
    
    max-width: 100px;
    border-radius: 8px;

}
.left-section-cart p {
    white-space: nowrap;
    font-size: 20px;
}
.right-section-cart {
    align-items: center;
    gap: 15px;
    display: flex;
    flex: 1 1 0;
    justify-content: space-evenly;
    
    flex-direction: row;
}
.right-section-cart p button {
    gap: 15px;  
}

.cart-item-quantity {
    border-radius: 8px;
    border: 3px solid lightgray;
    padding: 5px 10px;
}
.right-section-cart button {
    border-radius: 8px;
    color: white;
    border: 3px solid lightgray;
    padding: 8px 15px;
    background-color: rgb(25, 24, 30);
    transition: background-color .15s,
    border .15s;
}
.right-section-cart button:hover {

    border-color: #c3002f;
    background-color: #c3002f;
}
.right-section-cart button:active {
    background-color: #72051e;
    
}

.cart-items-down{
    margin-left: 60px; 
    display: flex;
}

.cartitems-total{
   margin-right: 200px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 40px;
}

.cartitems-totalitems{
    gap: 40px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems-total button {
    width: 200px;
    border-radius: 8px;
    color: white;
    border: 3px solid #c3002f;
    padding: 10px 15px;
    background-color: #c3002f;
    transition: background-color .15s,
    border .15s;
}

.cartitems-total button:hover {

    background-color: rgb(25, 24, 30);

}

.cartitems-total button:active{
    background-color: #72051e;
}



