

.main-display {
    display: flex;
    justify-content: space-around;
    margin: 0 60px;
    font-family: 'nissan-light';
    flex-wrap: wrap;
    padding-bottom: 35px;
    border-bottom: solid lightgray;
}
.left-display-section {
    flex: 1 1 450px;
    max-width: 550px;
    
}
.left-display-section img {
    width: 100%;
    border-radius: 10px;
    
}
.left-display-section p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.right-section {
    flex: 1 1 450px;
    max-width: 600px;
    padding: 0px;
}
.top {
    margin: 0;
    font-size: 25px;
}
.mid {
    margin: 0;
    padding-bottom: 40px;
    padding-top: 15px;
    font-size: 40px;
}
.spec-text {
    font-size: 22px;
    padding-bottom: 15px;
}
.end-details {
    margin-bottom: 15px;
}

.add-button {
    background-color: rgb(25, 24, 30);
    color: white;
    height: 42px;
    padding: 0 25px;
    border: solid lightgray 1.8px;
    border-radius: 50px;
    transition: background-color .15s,
    border .15s;
}

.add-button:hover {

    border: solid #c3002f 1.4px;
    background-color: #c3002f;
}
.add-button:active {
    background-color: #72051e;
}





@media (max-width: 520px) {
    .mid-border {
            border: solid lightgray;
            border-left: 0;
            border-right: 0;
    }
    .specs-details1 {
        flex-wrap: wrap;
        transition: all .02 linear;
    }
}